{% extends 'layout.html' %}
{% block head %}
<title>Home</title>
{% endblock %}
{% block body %}
<br>
<h1>Home page 1</h1>
<br>
<main role="main">
    <div class="jumbotron">
        <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
            <p>This is a blog post created for everyone as a means to express one's ideas and feelings on topics about anything. Follow me on instagram and dm me to get featured on our instagram <a class="btn btn-success btn-sm" href="https://www.instagram.com/direct/inbox/">Instagram</a> or on twitter <a class="btn btn-success btn-sm" 
                    href="https://twitter.com/messages">Twitter</a> or you can just email me @ <a class="btn btn-success btn-sm" href="https://mail.google.com/mail/u/0/#compose">Gmail</a>
            </p>
            <p> Express yourself freely without any alteration </p>
            <p>
                <a class="btn btn-primary" href="/posts" role="button">Go to posts
                    &raquo;</a>
            </p>
        </div>
    </div>
</main>
{% endblock %}